@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  background-color: #121212;
  scroll-behavior: smooth;
}
.div-icon-lan{
  height: 10%; 
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
   padding: 0 10px;
}
.header{
  transition: all .7s ease-in-out !important;
}
.toolbar{
  display:flex;
  justify-content:space-between;
  width:100%;
  padding-left:50px;
}
.logo{
  width: 100%;
}
.close-icon{
  font-size: 40px !important;
   cursor: pointer;
    color: white;
}
.logo-category{
  width: 50px;
}
.overflow{
  overflow: hidden;
}
.langauge-choose{
  position: fixed;
  z-index: 100 !important;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/tas.jpg') center no-repeat;
}

.language-opa{
  width: 100%;
  height: 100%;
  opacity: .3;
  background-color: rgb(255, 255, 255);
  position: fixed;
}
.choose-language-title{
  width: 100%;
  height: 50px;
  background-color: black;
  opacity: .7;
  position: fixed;
}
.h1-choose-language{
  text-align: center;
   color: white;
   text-transform:uppercase;
}

.cotainer-language{
  width: 1200px;
  height: 500px;
  background-color:#98D255;
  opacity: .8;
  position: fixed;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: space-around;
}
.category-menu{
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: all .2s ease-in-out;
}
.category-menu-opa{
  
  width: 100%;
  height: 100%;
  opacity: .8;
  background-color: black;
  position: fixed;
  top:0;
  left: 0;
  transform: translateX(100%);
  transition: all .2s ease-in-out;
}
.category-menu-container{
  right: 0;
  top: 0;
  height: 100%;
  width: 700px;
  background-color: #121212;
  position: fixed;
  z-index: 5;
  transform: translateX(100%);
  transition: all .7s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lan-image{
  cursor: pointer;
  width: 45px !important;
}
.category-ul{
  list-style: none;
   height: 100%; 
   width: 60%; 
   display: flex;
    flex-direction: column; 
    justify-content: space-between;
     align-items: center;
}
.active-category{
  transform: translateX(0%);
  transition: all .7s ease-in-out;
}

.active-category-opa{
  transform: translateX(0%);
  transition: all .2s ease-in-out;
}
.left-category{
width: 100%;
height: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.right-category{
width: 100%;
height: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.link-category{
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 20px;
  font-family: 'Lato';
}
.hr{
  height: 2px;
  background-color: white;
  width: 80%;
  margin-top: 10px;
}
.caategory-li{
  display: flex;
  align-items: center;
  width: 75%;
}
.div-social{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.div-social h1{
  color: white;
  text-align: center; 
  font-size: 18px;
  font-family: 'Lato';
}
.links-social-media-div{
  width:30%;
  height:10%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.social-links-logo{
  color: white; 
  font-size: 40px;
}
.foto-galeri{
  width: 900px;
  height: auto;
}
@media (max-width:650px){
  .logo{
    width: 200px;
  }
  .foto-galeri{
    width: 100% !important;
  }
  .caategory-li{
    width: 100%;
  }

  .cotainer-language{
    width: 100%;
    height: 100%;
  }
  .category-menu-container{
    height: 100%;
    width: 100%;
  }
  .link-category{
    font-size: 13px;
  }
  .h1-choose-language{
     font-size: 18px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  }
  .choose-language-title{
    height: 90px;
    display: flex;
    justify-content: center;
  }
  .links-social-media-div{
    width:70%;
    height: 20%;
  }
  .toolbar{
    padding-left:0px !important;
  }
  .logo-category{
    width: 40px;
  }
  .social-links-logo{
    font-size: 25px !important;
  }
}
@media  (min-device-width : 468px) 
and (max-device-width : 1024px) {
  .foto-galeri{
    width: 100%;
  }
  .lan-image{
    width: 30px !important;
    height: 30px !important;
  }

}

@media  (min-device-width : 268px) 
and (max-device-width : 340px) {
  .foto-galeri{
    width: 100%;
  }
  .left-category{
    height: 55%;

    }
    .right-category{
    height: 45%;
    }
    .lan-image{
      width: 30px !important;
      height: 30px !important;
    }
}
@media  (min-device-width : 853px) 
and (max-device-width : 1024px) {
  .foto-galeri{
    width: 100%;
  }
  .left-category{
    height: 55%;

    }
    .right-category{
    height: 45%;
    }
    .lan-image{
      width: 30px !important;
      height: 30px !important;
    }
    .category-ul{
      align-items: center;
      width: 100%;
    }
    .left-category{
      width: 50%;
    }
    .right-category{
      width: 50%;
    }

    .close-icon{
      font-size: 50px !important;
    }
    .lan-image{
      width: 40px !important;
      height: 40px !important;
    }


.div-social h1{ 
  font-size: 13px;
}
.logo-category{
  width: 40px;
}
}



@media  (min-device-width : 468px) 
and (max-device-width : 1024px) and (orientation : landscape) {

  .category-ul{
    overflow: auto;
    width: 100%;
  }
  .category-menu-container{
    width: 70%;
  }
  .caategory-li {
    width: 100%;
}
.left-category{
  height: 100%;
  width: 42%;
  justify-content: space-around;
  }
  .right-category{
  height:  80%;
  width: 42%;
  justify-content: space-around;
  }
  
  .toolbar{
    padding-left:0px !important;
  }
  .logo-category{
    width: 40px;
  }
  .link-category{
    font-size: 13px;
  }
  .social-links-logo{
    color: white; 
    font-size: 25px;
  }
  .div-social h1{ 
    font-size: 13px;
  }
  .close-icon{
    font-size: 25px !important;
  }
  .lan-image{
    width: 30px !important;
    height: 30px !important;
  }
  .div-icon-lan{
    height: 15%; 
    width: 90%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
     padding: 0 10px;
  }
  .div-social {
    width: 60%;
}
  .hr{
    width: 70%;
  }
}