*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  background-color: #121212;
  scroll-behavior: smooth;
}
.logo{
  width: 100%;
}

.langauge-choose{
  position: fixed;
  z-index: 100 !important;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-opa{
  width: 100%;
  height: 100%;
  opacity: .8;
  background-color: black;
  position: fixed;
}

.cotainer-language{
  width: 600px;
  height: 500px;
  background-color: #121212;
  position: fixed;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: space-around;
}
.category-menu{
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: all .7s ease-in-out;
}
.category-menu-opa{
  
  width: 100%;
  height: 100%;
  opacity: .8;
  background-color: black;
  position: fixed;
  top:0;
  left: 0;
  transform: translateY(100%);
  transition: all .7s ease-in-out;
}
.category-menu-container{
  right: 0;
  top: 0;
  height: 100%;
  width: 600px;
  background-color: #121212;
  position: fixed;
  z-index: 5;
  transform: translateX(100%);
  transition: all .7s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active-category{
  transform: translateX(0%);
  transition: all .7s ease-in-out;
}
.active-category-opa{
  transform: translateY(0%);
  transition: all .7s ease-in-out;
}
.link-category{
  color: white;
  text-decoration: none;
  font-size: 24px;
}
@media (max-width:650px){
  .logo{
    width: 200px;
  }
  .foto-galeri{
    width: 100% !important;
  }
  .cotainer-language{
    width: 100%;
    height: 100%;
  }
  .category-menu-container{
    height: 100%;
    width: 100%;
  }
}